@charset "utf-8"; 
/* CSS Document */
/*reset*/ 
html{background: none repeat scroll 0 0;height: 100%;}
body{position:relative;background: #fff;color:#333;height: 100%;overflow:hidden;}
body, div, td,font,em{font-size:12px;line-height:1.2em;font-family:"Microsoft YaHei",Tahoma,Arial,"宋体","黑体";}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd{margin: 0;padding: 0;}
table{border-collapse: collapse;border-spacing: 0;}
img{border:none;}
address, caption, cite, code, dfn, em, th, var,b,font,i{font-style:normal;font-weight: normal;}
ul li{list-style-image: none;list-style-position: outside;list-style-type: none;}
caption, th{text-align: left;}
h1, h2, h3, h4, h5, h6{font-size: 100%;font-weight: normal;vertical-align:baseline;zoom: 1;}
input, textarea, select, button{font-size: 12px;font-weight: inherit; vertical-align:middle;}
input[type=radio],input[type=checkbox]{vertical-align: -2px;}
textarea{resize:none; overflow-x:hidden;overflow-y:auto; outline:medium none; word-wrap:break-word;}
a{text-decoration:none;}
a:focus{outline-style: none;outline-width: 0;outline: none;}
a{_blr:expression(this.onFocus=this.blur());}
a:link, a:visited, a:active{text-decoration: none;}
a:hover,.news-list li a:hover{text-decoration:none;}
.strong{font-weight:bold;}
.floatleft{float:left;}
.floatright{float:right;}
.aligncenter{text-align:center;}
.alignright{text-align:right;}
.alignleft{text-align:left;}
.block{display:block;}
.inline{display:inline!important;}
.inlineblock{display:inline-block!important;}
.nobg{background:none!important;}
.nofloat{float:none!important;}
.noborder{border:none!important;}
.noborder-r{border-right:none!important;}
.visible{overflow:visible!important;}
/*margin*/
.nomar{margin:0!important;}
.mar-auto{margin:0 auto!important;}
.nomar-t{margin-top:0!important}
.nomarl{margin-left:0!important;}
.nomarr{margin-right:0!important;}
.mart3{margin-top:3px!important;}
.mart5{margin-top:5px!important;}
.mart10{margin-top:10px!important;}
.mart15{margin-top:15px!important;}
.mart20{margin-top:20px!important;}
.mart30{margin-top:30px!important;}
.mart45{margin-top:45px!important;}
.mart50{margin-top:50px!important;}
.marl10{margin-left:10px!important;}
.marr5{margin-right:5px!important;}
.marr10{margin-right:10px!important;}
.marr15{margin-right:15px!important;}
.marr20{margin-right:20px!important;}
.marr30{margin-right:30px!important;}
.marr50{margin-right:50px!important;}
.marl5{margin-left:5px!important;}
.marl20{margin-left:20px!important;}
.marl25{margin-left:25px!important;}
.marl_20{margin-left:-20px!important;}
.marl30{margin-left:30px!important;}
.color-black{color:#000;}
.color-white{color:#fff;}
.color-3{color:#333;}
.color-6,.color-6 a{color:#666;}
.color-8,.color-8 a{color:#888;}
.color-a{color:#aaa;}
.info{color:#096db8;}
.color-347cdc,.add{color:#347cdc;}
.nodata{color:#ccc;padding-top: 100px;}
.add:hover{text-decoration: underline;}
.plus{color:#50ac4a;}
.minus{color:#ec6a6a;}
/*width*/
.width-30{width:30px!important;}
.width-40{width:40px!important;}
.width-50{width:50px!important;}
.width-60{width:60px!important;}
.width-70{width:70px!important;}
.width-80{width:80px!important;}
.width-100{width:100px!important;}
.width-110{width:110px!important;}
.width-120{width:120px!important;}
.width-130{width:130px!important;}
.width-140{width:140px!important;}
.width-150{width:150px!important;}
.width-160{width:160px!important;}
.width-200{width:200px!important;}
.width-230{width:230px!important;}
.width-250{width:250px!important;}
.width-300{width:300px!important;}
.width-350{width:350px!important;}
.width-auto{width:auto!important;}
/*padding*/
.nopadding{padding:0!important;}
.p-top5{padding-top:5px!important;}
.p-top10{padding-top:10px!important;}
.p-top20{padding-top:20px!important;}
.p-top40{padding-top:40px!important;}
.p-bt10{padding-bottom:10px!important;}
.p-bt20{padding-bottom:20px!important;}
/*font-size*/
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font16{font-size:16px!important;}
.font15{font-size:15px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.font25{font-size:25px!important;}
.font30{font-size:30px!important;}
.l_th{text-decoration:line-through!important;}
.txt_hidden,.ser_Results li{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
/*clear*/
.clear{clear:both;line-height:0;height:0;font-size:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.line{width: 100%;border-bottom: 1px solid;font-size: 0;line-height: 0;margin:30px 0;}
.icon{display:inline-block;font-size:0;line-height:0;background-image:url("../img/icon.png");width:35px;height:35px;position: relative;}
.ico-1{background-position:0 0;}
.ico-2{background-position:0 -35px;}
.ico-3{background-position:0 -70px;}
.icon-out{background-position:0 -105px;top:7px;}
.ico-4,.ico-5,.ico-6,.ico-7{width:14px;height:14px;background-position:-35px -35px;top:2px;margin-right:5px;}
.ico-5{background-position:-35px -49px;}
.ico-6{background-position:-35px -63px;}
.ico-7{background-position:-35px -87px;}
.ico-clander{width:14px;height:12px;background-position:-35px -107px;top:4px;}
.ico-back{width:23px;height:16px;background-position:-35px -91px;}

@font-face {
font-family:Titillium;
src: url('TitilliumTitle01-Thin.eot'); /* IE9 Compat Modes */
src: url('TitilliumTitle01-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('TitilliumTitle01-Thin.woff') format('woff'), /* Modern Browsers */
  url('TitilliumTitle01-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('TitilliumTitle01-Thin.svg') format('svg'); /* Legacy iOS */
}
.Titillium{font-family: Titillium;font-weight:bold;}
.UserName img{width:30px;height:30px;border-radius:50%;position: relative;top:3px;}
.UserName span{display:inline-block;height:35px;line-height:35px;padding-left:5px;}

/*分页*/
.pagenation a{display: inline-block;min-width: 24px;height: 24px;line-height: 24px;color:#a0a0a0;text-align: center;border:1px solid #e5e5e5;background:#fff;}
.pagenation a:hover,.pagenation a.current{color:#fff;background-color:#aaa;}
.pagenation .page{font-size: 14px;margin:0 10px;}
.pagenation .page:hover{background-color:#fff;color:#347cdc;}
.pagenation a.disabled:hover,.pagenation a.disabled,.CheckWord .disabled:hover,.CheckWord .disabled{background:none;color:#ccc;cursor: default;}












