.layout{width:100%;height:100%;position: relative;overflow: hidden;}
.LeftMain,.RightMain{width:100px;position:absolute;top:0;bottom:0;left:0;background:#242427;}
.RightMain{width:auto;top:0;right:0;bottom:0;left:100px;background:#f6f6f6;}
.RightCount{position: absolute;top:49px;right:0;left:0;bottom:0;padding:20px 60px;background:#f6f6f6;}
.logo{width:100px;background:#347cdc;padding:15px 0;}
.logo img{width:70%;}
.leftBtn{display:block;color:#aaa;padding:20px 0;margin-bottom:10px;transition:0.2s;}
.leftBtn em{line-height:30px;}
.leftBtn:hover,.leftBtn.current{background:#2f2f33;transition:0.2s;}
.TopBar{width:100%;height:49px;background:#e1e1e1;}
.Search{width:262px;height:29px;margin-left:50px;position: relative;top:10px;}
.Search input{border:1px solid #bbb;background:#fff;width:230px;height:27px;text-indent:5px;}
.SerBtn{width:30px;height:29px;background-position:-35px 0;}
.OutBtn{width:60px;height:49px;background-color:#b4b4b4;transition:0.2s;}
.OutBtn:hover{background-color:#ee6868;transition:0.2s;}
.Board{width:80%;margin:0 auto;margin-top:3%;}
.Tilte{height:40px;line-height:40px;border-bottom: 1px solid #cccccd;}
.Board ul li{display: inline-block;width:24%;float: left;border-right: 1px solid #cccccd;height:150px;}
.Board ul li span{display: inline-block;font-size:60px;line-height:60px;padding-top:30px;}
.Board ul li p{padding:10px 0 0 20px;}
.BoardItem ul li{height:100px;margin-bottom:20px;}
.BoardItem ul.second li{width:30%;}
.BoardItem ul li span{padding-top:10px;font-size:30px;}
.TableData{width:100%;}
.TableData th,.TableData td{border:1px solid #ededed;padding-left:10px;height:40px;}
.TableData th{background:#f1f0f0;height:50px;}
.TableData th .Search{top:10px;}
.TableData thead td{background:#f9f9f9;color:#333;font-size:14px;}
.TableData tbody td{color:#555;}
.TableData tbody td .txt_hidden{width:90%;}
.TableData tbody tr.font14 td{font-size:14px;color:#333;background:#f9f9f9;}
.TableData tbody tr:hover td{background:#ddd;cursor: pointer;}
.TableData tbody tr.font14:hover td{background:#f9f9f9;cursor:default;}
.TableData th a.inlineblock{width:110px;height:50px;line-height:50px;color:#888;margin-left:-10px;text-align: center;margin-right:1px;}
.TableData th a.inlineblock:hover,.TableData th a.inlineblock.current{background:#347cdc;color:#fff;}
.Circle{display:inline-block;width:10px;height:10px;border-radius:50%;border:1px solid #d1d1d1;background:#e7e7e7;cursor: pointer;margin-left:-10px;}
.CirInfo{background:#60ca59;border-color:#5cb457;}
.CirWaring{background:#ec6a6a;border-color:#e25f5f;}
.UserList{min-width:1104px;}
.UserList li{background:#fff;border:1px solid #ebebeb;padding:10px;float: left;line-height:20px;margin:0 10px 10px 0;width:16%;min-width:240px;cursor: pointer;transition:0.2s;}
.UserList li:hover{background:#ecf3fb;transition:0.2s;}
.TableData tbody td .UserList li .txt_hidden{width:75%;}
.TableData tbody td .UserList li .UserName,.TableData tbody td .UserList li .UserName img{width:50px;height:50px;}
.DataDiv{width:46%;}
.DataTable{width:100%;}
.DataTable th,.DataTable td{border:1px solid #ebebeb;height:29px;line-height:29px;text-indent:10px;color:#666;background:#fff;width:50%;}
.DataTable thead th{background:#f1f1f1;color:#333;}
.DataTable thead td{background:#86898d;color:#fff;width:40%;}
.DataTable thead td:first-child{width:39%;}
.Clander{background:#fff;height:29px;border-left:1px solid #ebebeb;}
.Clander input{border:0;background:#fff;height:22px;line-height:22px;margin-top:4px;color:#888;border-right:1px solid #ebebeb;}
.Clander a{width:30px;height:20px;text-align: center;margin:5px 0 0 10px;}































